.header{
    background-color: var(--gray-700);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12.5rem;
}

.header img{
    margin-top: -2rem;
    display: flex;
    align-items: center;
    height: 3rem;
}