.taskList{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    flex-direction: column;
}

.infos{
    display:flex;
    justify-content: space-between;
    width: 736px;
}

.infos span{
    margin-left: 0.5rem;
    background-color: var(--gray-400);
    color: white;
    border-radius: 20px;
    padding: 0px 8px;
    border: 1px  solid var(--gray-400);
}

.registeredTaskBoard{
    margin-top: 1.5rem;
    width: 736px;
    border-top: 1px solid var(--gray-400);
    display: flex;
    justify-content: center;
}
.registeredTaskBoard ul{
    list-style-type: none;
}

.createTaskInfo {
    color: var(--blue)
}

.concludeTaskInfo {
    color: var(--purple)
}